@import url('geral.css');

.sobre-mim{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    height: 95vh;
}

.caixa {
    height: 90%;
    background: linear-gradient(135deg, rgb(126, 0, 126), rgb(70, 0, 70));
    border-radius: 30px;
    display: flex;
}

.caixa-img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-img-perfil { 
    background-image: url('../img/suave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 90%;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.caixa-texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.div-paragrafo {
    margin-top: 10px;
    width: 100%;
}

.div-paragrafo > p {
    margin-bottom: 8px;
    text-indent: 20px;
}

.caixa-trabalhos{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.trabalhos {
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid white;
    color: white;
}

.caixa-empresa {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 25px;
    background: linear-gradient(135deg, rgb(126, 0, 126), rgb(70, 0, 70));
    width: 50%;
}

.emprego-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.um-pouco-mais {
    color: white;
    border-top: 1px white solid;
}

.caixa-programa-atual {
    background: linear-gradient(135deg, rgb(126, 0, 126), rgb(70, 0, 70));
    border-radius: 20px;
    padding: 15px 0;
}

.div-programa{
    width: 50%;
}

.texto-programa-atual {
    margin-left: 40px;
}

.logo-vue {
    width: 15%;
}

.img-inova-week {
    width: 60%;
}

.img-hobbie {
    width: 70%;
}

@media (max-width: 760px) {
    
    .sobre-mim{
        flex-direction: column;
    }

    .caixa{
        flex-direction: column;
        border-radius: 15px;
    }

    .caixa-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .bg-img-perfil { 
        width: 90%;
        height: 90%;
        background-position: center 40%;
        border-radius: 10px;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    }

    .caixa-texto{
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 10px; 
        box-sizing: border-box;
    }

    .caixa-trabalhos{
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .caixa-empresa {
        width: 100%;
    }

    .logo-vue {
        width: 55%;
    }

    .caixa-programa-atual{
        box-sizing: border-box;
        align-items: center;
    }

    .div-programa{
        width: 90%;
    }
    
    .texto-programa-atual {
        margin-left: 0;
    }

    .div-pouco-mais {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .img-inova-week {
        width: 90%;
    }

    .div-hobbie{
        width: 100%;
    }

    .img-hobbie{
        width: 90%;
    }
}